mqtt_to_domoticz.js
[{"id":"f6ebd33f.09143","type":"mqtt-broker","broker":"mqtt.lan","port":"1883","clientid":""},{"id":"335b9014.cca47","type":"mqtt in","name":"ESP8266 DS18B20 devices","topic":"/temperature/+","broker":"f6ebd33f.09143","x":148,"y":104,"z":"8044ffdf.7fbb","wires":[["95d0e43a.6a2f18"]]},{"id":"f8d50e34.072af","type":"mqtt out","name":"Domoticz output","topic":"domoticz/in","qos":"","retain":"","broker":"f6ebd33f.09143","x":594,"y":101,"z":"8044ffdf.7fbb","wires":[]},{"id":"95d0e43a.6a2f18","type":"function","name":"JSON translator","func":"var device = msg.topic.split('/')[2]\nvar idx = null, tempF = msg.payload, tempC;\n\nif (device == \"ESP950D\")\n    idx = 26;\nelse if (device == \"ESP8D6C\")\n    idx = 25;\nelse if (device == \"ESP2AE6\")\n    idx = 27;\nelse\n    node.warn(\"unknown device: \" + device)\n    \ntempC = (tempF - 32) * 5 / 9;\n    \nmsg.payload = '{ \"idx\" : ' + idx + ', \"nvalue\" : 0, \"svalue\" : \"' + tempC + '\" }'\n\nreturn msg;","outputs":1,"valid":true,"x":377,"y":103,"z":"8044ffdf.7fbb","wires":[["f8d50e34.072af"]]}]